<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">

<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
  <script th:inline="javascript">
    $(document).ready(function(){
    	var itemId = [[${item.id}]];

      calculateToalPrice();

      $("#count").change( function(){
        calculateToalPrice();
      });
      
      // 자동실행 함수 : 리뷰 목록와서 보여 주기
      (function() {
    	  var token = $("meta[name='_csrf']").attr("content");
          var header = $("meta[name='_csrf_header']").attr("content");
          var url = "/review/getList?itemId=" + itemId;
    	  $.ajax({
    		  url : url,
    	      type : "get",
//    	      beforeSend : function(xhr){
//    	          /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
//    	          xhr.setRequestHeader(header, token);
//    	      },
    	      cache : false,
    	      success : function(result, status){
    	          console.log("cartItem count update success");
    	          $(".comment-content").html(result);
    	      },
    	      error : function(jqXHR, status, error){
    	          if(jqXHR.status == '401'){
    	            alert('로그인 후 이용해주세요');
    	            location.href='/members/login';
    	          } else{
    	            alert(jqXHR.responseJSON.message);
    	          }
    	      }
    	  });
        })();
    });

    function calculateToalPrice(){
      var count = $("#count").val();
      var price = $("#price").val();
      var totalPrice = price*count;
      $(".totalPrice").html(totalPrice + '원');
    }

    function order(){
      var token = $("meta[name='_csrf']").attr("content");
      var header = $("meta[name='_csrf_header']").attr("content");

      var url = "/order";
      var paramData = {
        itemId : $("#itemId").val(),
        count : $("#count").val()
      };

      var param = JSON.stringify(paramData);

      $.ajax({
        url      : url,
        type     : "POST",
        contentType : "application/json",
        data     : param,
        beforeSend : function(xhr){
          /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
          xhr.setRequestHeader(header, token);
        },
        dataType : "json",
        cache   : false,
        success  : function(result, status){
          alert("주문이 완료 되었습니다.");
          location.href='/';
        },
        error : function(jqXHR, status, error){

          if(jqXHR.status == '401'){
            alert('로그인 후 이용해주세요');
            location.href='/members/login';
          } else{
            alert(jqXHR.responseText);
          }

        }
      });
    }

    function addCart(){
      var token = $("meta[name='_csrf']").attr("content");
      var header = $("meta[name='_csrf_header']").attr("content");

      var url = "/cart";
      var paramData = {
        itemId : $("#itemId").val(),
        count : $("#count").val()
      };

      var param = JSON.stringify(paramData);

      $.ajax({
        url      : url,
        type     : "POST",
        contentType : "application/json",
        data     : param,
        beforeSend : function(xhr){
          /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
          xhr.setRequestHeader(header, token);
        },
        dataType : "json",
        cache   : false,
        success  : function(result, status){
          alert("상품을 장바구니에 담았습니다.");
          location.href='/';
        },
        error : function(jqXHR, status, error){

          if(jqXHR.status == '401'){
            alert('로그인 후 이용해주세요');
            location.href='/members/login';
          } else{
            alert(jqXHR.responseText);
          }

        }
      });
    }

  </script>
</th:block>

<div layout:fragment="content">
  <input type="hidden" id="itemId" th:value="${item.id}">

  <div class="main-container">
    <div class="wrapper">
      <div class="main-content">

        <div class="detail-product">
          <div class="left-product-content">
            <div class="product-img">
              <img th:src="|/display?fileName=${item.itemImgDtoList[0].imgUrl}|" th:alt="${item.itemNm}">
            </div>
          </div>
          <div class="right-product-content">
            <div class="product-title" th:text="${item.itemNm}">
            </div>
            <div class="product-price">
              <input type="hidden" th:value="${item.price}" id="price" name="price">
              <span th:text="${item.price}"></span>원
            </div>
            <div class="membership-info">
              로그인 후, 할인 등의 혜택이 제공됩니다.
            </div>
            <dl>
              <dt>판매자</dt>
              <dd>[[${item.register}]]</dd>
            </dl>
            <dl>
              <dt>판매단위</dt>
              <dd>1박스</dd>
            </dl>
            <dl>
              <dt>중량/용량</dt>
              <dd>3kg</dd>
            </dl>
            <dl>
              <dt>구매수량</dt>
              <dd>
                <div class="amount-product-title" th:text="${item.itemNm}"></div>
                <div class="product-amount">
                  <input type="number" name="count" id="count" class="btn product_count_tmp middle_btn pm_btn"  min="1" value="1"/>
                  <div class="current-price totalPrice">
                  </div>
                </div>

                <div class="total-price">
                  <span class="tp-1">총 상품금액 : </span>
                  <h3 name="totalPrice" class="font-weight-bold totalPrice"></h3>
                </div>
              </dd>
            </dl>
            <div  class="purchase-btn-content">
              <button class="basket-btn" onclick="addCart()">장바구니담기</button>
              <button class="purchase-btn" onclick="order()">구매하기</button>
            </div>
          </div>
        </div>

        <div class="view-product-group">
          <ul>
            <li><a href="#">상품설명</a></li>
            <li><a href="#">후기</a></li>
          </ul>
        </div>

        <div th:each="itemImg : ${item.itemImgDtoList}" class="text-center">
          <img th:if="${not #strings.isEmpty(itemImg.imgUrl)}" th:src="|/display?fileName=${itemImg.imgUrl}|" class="rounded mgb-15" width="800">
        </div>
        
        <div class="comment-content">
        	<div class="comment-count">
            	<span class="cm-c">총 2개</span>
            </div>
            <div class="comment-view-content">
                <div class="comment-left-content">
                	<span class="comment-name">김연두</span>
                </div>
                <div class="comment-right-content">
                	<h3 class="product-title-comment">[전남 해남] 포근한 기후의 해남에서 만나는 호박고구마 3kg</h3>
                    <p class="comment">정말 달달하고 저희 애들이 참 좋아해요~ 가격도 이뽀이뽀 정도 ^^</p>
                    <div class="comment-img">
                    	<img src="/images/product_img_04.jpg">
                        <img src="/images/good_pr_img10.jpg">
                    </div>
                    <div class="comment-date-content">
                        <span class="comment-date">2022.10.16</span>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

</html>