<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="~{./header :: headerFragment}"></th:block>
<!-- 사용자 스크립트 추가 -->
<script th:inline="javascript" th:src="@{/js/cart.js}"></script>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style>
    .content-mg{
      margin-left:25%;
      margin-right:25%;
      margin-top:2%;
      margin-bottom:100px;
    }
    .repImgDiv{
      margin-right:15px;
      margin-left:15px;
      height:auto;
    }
    .repImg{
      height:100px;
      width:100px;
    }
    .fs18{
      font-size:18px
    }
    .fs24{
      font-size:24px
    }
  </style>
</th:block>

<div class="main-container">
	<div class="wrapper">
		<div class="main-content">
			<div class="basket-title"><h2>장바구니</h2></div>
			<div class="basket-content">
				<div class="basket-left-content">
					<div class="main-choice">
						 <label class="check-label">
							<input type="checkbox" class="basket-checkbox" id="checkall">
							<span>전체선택</span>
						</label>
						<span class="area-line"></span>
						<button class="choice-check">선택삭제</button>
					</div>
					<div class="product-basket-content"> 
						<p th:if="${#lists.isEmpty(cartItems)}" class="none-product-basket">장바구니에 담긴 상품이 없습니다.</p> <!-- 장바구니가 비었을 경우 -->
						<ul th:if="${not #lists.isEmpty(cartItems)}"> <!-- 장바구니에 물품이 있을 경우 -->
							<li th:each="cartDetailDto : ${cartItems}" th:data-id="${cartDetailDto.cartItemId}" th:data-price="${cartDetailDto.price}">
								<label class="check-label">
									<input type="checkbox" name="cartChkBox" class="basket-checkbox" th:value="${cartDetailDto.cartItemId}">
								</label>
								<a class="product-basket-image">
									<img th:src="|/display?fileName=${cartDetailDto.imgUrl}|" th:alt="${cartDetailDto.itemNm}">
								</a>
								<div class="product-basket-title">
									<a th:href="'/seller/item/' +${cartDetailDto.itemId}">
										[[${cartDetailDto.itemNm}]]
									</a>
								</div>
								<div class="product-amount">
									<button type="button" class="btn btn_type1 middle_btn pm_btn amount_down" disabled>-</button>
									<input type="number" class="btn product_count_tmp middle_btn pm_btn" name="count" min="1" max="10" th:value="${cartDetailDto.count}" required disabled/>
									<button type="button" class="btn btn_type1 middle_btn pm_btn amount_up" disabled>+</button>                                
								</div>
								<div class="product-basket-price">
									<span th:text="${cartDetailDto.price * cartDetailDto.count} + '원'"></span>
								</div>
							</li>
                        </ul> <!-- </ul>-->
                    </div>                        
                </div>
				<div class="basket-right-content">
					<div class="order-info-content">
						<div class="delivery-content">
							<h3>배송지</h3>
							<div class="delivery-addr-content">
								<p class="delivery-addr">서울특별시 관악구 남부순환로 111-12나길 23 302호</p>
							</div>
						</div>
						<div class="product-price-info">
							<div class="product-basket-pr">
								<span class="basket-product-txt">상품금액</span>
								<span class="basket-total-price"><strong class="sumation">24,000</strong>원</span>
							</div>
						</div>
						<div class="product-price-info">
							<div class="product-basket-pr">
								<span class="basket-product-txt">배송비</span>
								<span class="basket-total-price"><strong class="shipping">+3,000</strong>원</span>
							</div>
						</div>
						<div class="product-price-info">
							<div class="product-basket-pr">
								<span class="basket-product-txt">결제예정금액</span>
								<span class="basket-total-price"><strong class="total">27,000</strong>원</span>
							</div>
						</div>
						<div class="order-btn-content">
							<a href="#"><button class="basket-order-btn">주문하기</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<th:block th:replace="~{./footer :: footerFragment}"></th:block>

<div id="quick_menu">
	<div class="quick_img_wrapper">
		<a href="#" target="_blank">
		<img class="quick_img" th:src="@{/images/quick_link_img.jpg}"></a>
	</div>
	<div class="side_menu">
		<ul>
			<!-- 로그아웃 상태의 사이드바 메뉴 -->
			<li><a href="regist.html" class="link_menu" target="_blank">회원가입</a></li>
			<li><a href="menu_Seasonal.html" class="link_menu"
				target="_blank">제철특산품</a></li>
			<!-- 로그인 상태의 사이드바 메뉴 -->
			<!--    
                <li><a href="basket.html" class="link_menu" target="_blank">장바구니</a></li>
                <li><a href="#" class="link_menu" target="_blank">마이페이지</a></li>
                <li><a href="#" class="link_menu" target="_blank">판매자신청</a></li>	
                -->
		</ul>
	</div>
</div>

<div id="top_btn">
	<a href="" onclick="goTop()"><img
		th:src="@{/images/top_button.png}"></a>
</div>

</body>
</html>